extends ../layout

block content
    .container
        .row
            .thumbnail
                .well
                    ul.nav.nav-tabs
                        li.active
                            a(href='#tab1', data-toggle='tab')
                                i.icon-tasks
                                |  DashBoard
                        li
                            a(href='#tab2', data-toggle='tab')
                                i.icon-user
                                |  Colaboradores
