extends layout

block content
    .container-fluid
        .page-header
            h1 Kanban Board
            h3 Sorry, this page is not available
        p Return to the
            a(href='/home')  homepage
