extends layout
block content
    .container-fluid
        .page-header
            h1 Kanban Board
            h3 Houston, we got a problem!
        p Due to an internal error we cannot display the requested page. You may try again sometime.
        p Return to the
            a(href='/home')  homepage
