html {
    position: relative;
    min-height: 100%;
}

body {
    background: rgb(238, 238, 238);
    padding-top: 50px;
    margin-bottom: 40px;
}

body > .container {
    padding: 40px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

label.error {
    /* .alert */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;

    /* .alert-danger */
    background-color: #f2dede;
    color: #a94442;

    display:block;
    width:100%;
    font-weight: normal;
    margin-top: 3px;
}

.modal-dialog > .modal-content > form {
    padding: 15px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}
