#editProjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editProjectLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                    span.sr-only Close
                h4#editProjectLabel.modal-title Edit Project
            form#editProjectForm.form-horizontal(method='post')
                input(type='hidden', name='_method', value='put')
                .modal-body
                    .form-group
                        label(for='nameField') Name
                        input#nameField.form-control(type='text', name='project[name]', minlength=3, maxlength=20, required)
                .modal-footer
                    button.btn.btn-primary.btn-lg Apply changes

script(type='text/javascript').
    $('#editProjectModal').on('shown.bs.modal', function (event) {
        $('#nameField').focus();

        var projectId = $(event.relatedTarget).data('id');
        var projectName = $(event.relatedTarget).data('name');

        $(this).find('#nameField').val(projectName);
        $('#editProjectForm').attr('action', '/api/project/' + projectId);
    });
