#myAccountModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myAccountLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                    span.sr-only Close
                h4#myAccountLabel.modal-title My Account
            form#myAccountForm.form-horizontal(action='/account', method='post')
                .modal-body
                    .form-group
                        label(for='nameField') Name
                        input#nameField.form-control(type='text', name='user[name]', minlength=3, maxlength=100, required)
                    .form-group
                        label(for='emailField') Email
                        input#emailField.form-control(type='email', name='user[email]', minlength=3, maxlength=50, required)
                    .form-group
                        label(for='loginField') Login
                        input#loginField.form-control(type='text', name='user[login]', minlength=3, maxlength=10, required)
                .modal-footer
                    button.btn.btn-primary.btn-lg(type='submit') Update Profile

script(type='text/javascript').
    $('#myAccountForm').validate();

    $('#myAccountModal').on('shown.bs.modal', function (event) {
        $('#nameField').focus();

        var userName = $(event.relatedTarget).data('name');
        var userEmail = $(event.relatedTarget).data('email');
        var userLogin = $(event.relatedTarget).data('login');

        $(this).find('#nameField').val(userName);
        $(this).find('#emailField').val(userEmail);
        $(this).find('#loginField').val(userLogin);
    });
