extends ../layout

block content
    .container
        .row
            .col-md-offset-4.col-md-4.thumbnail
                form#loginForm.well(action='/api/login', method='post')
                    fieldset
                        legend Login
                        .form-group
                            label(for='loginField') Login
                            input#loginField.form-control(type='text', name='user[login]', minlength=3, maxlength=10, required)
                        .form-group
                            label(for='passwordField') Password
                            input#passwordField.form-control(type='password', name='user[password]', minlength=3, maxlength=10, required)
                        .form-group
                            button.btn.btn-primary.pull-right(type='submit')
                                span.glyphicon.glyphicon-ok-circle  Login
        .row
            .col-md-offset-4.col-md-4
                if hasError
                    .alert.alert-danger.alert-dismissible(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') &times;
                        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                        span.sr-only Error:
                        strong  Oh Snap!
                        |  #{message}
                else if !hasError && message
                    .alert.alert-success.alert-dismissible(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') &times;
                        span.glyphicon.glyphicon-ok-sign(aria-hidden='true')
                        span.sr-only Success:
                        strong  Well done!
                        |  #{message}
    include ../partials/modals/sign-up

script(type='text/javascript').
    $('#loginForm').validate();
