extends ../layout

block content
    .container
        .col-md-7
            .row
                .thumbnail
                    .well
                        legend
                            span.glyphicon.glyphicon-th-list
                            |  My projects
                        .row
                            a.btn.btn-success.btn-lg.pull-right(href='#createProjectModal', data-toggle='modal', data-target='#createProjectModal') Create project
            .row
                if hasError
                    .alert.alert-danger.alert-dismissible(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') &times;
                        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                        span.sr-only Error:
                        strong  Oh Snap!
                        |  #{message}
                else if !hasError && message
                    .alert.alert-success.alert-dismissible(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') &times;
                        span.glyphicon.glyphicon-ok-sign(aria-hidden='true')
                        span.sr-only Success:
                        strong  Well done!
                        |  #{message}
        .col-md-offset-1.col-md-4.thumbnail
            .well
                legend
                    span.glyphicon.glyphicon-user
                    |  My Account
                .row
                    .col-md-offset-2.col-md-8.col-md-offset-2
                        a.thumbnail(href='#')
                            img#profilePicture.img-rounded.thumbnail(src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png', alt='no-photo')
                .row
                    .btn-block
                        a.btn.btn-primary.btn-lg.btn-block(href='#myAccount', data-toggle='modal', data-target='#myAccount') My Account
                    .btn-block
                        a.btn.btn-danger.btn-lg.btn-block(href='#deleteAccount', data-toggle='modal', data-target='#deleteAccount')
                            span.glyphicon.glyphicon-trash
                            |  Delete Account
    #createProjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createProjectLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    h4#createProjectLabel.modal-title Create Project
                form#signInForm.form-horizontal(action='/project', method='post')
                    .modal-body
                        .form-group
                            label(for='nameField') Name
                            input#nameField.form-control(type='text', name='project[name]', minlength=3, maxlength=20, required)
                    .modal-footer
                        button.btn.btn-primary.btn-lg(type='submit') Create project
